[submodule "reference/koog"]
	path = reference/koog
	url = https://github.com/JetBrains/koog.git
[submodule "reference/SimpleMainKts"]
	path = reference/SimpleMainKts
	url = https://github.com/Stream29/SimpleMainKts.git
[submodule "reference/kimi-cli"]
	path = reference/kimi-cli
	url = https://github.com/MoonshotAI/kimi-cli.git
[submodule "reference/kotlin-multiplatform-oidc"]
	path = reference/kotlin-multiplatform-oidc
	url = https://github.com/kalinjul/kotlin-multiplatform-oidc.git
